<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="{{ url_for('static', filename='img/logo.svg') }}" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        {{ _('Home') }}
      </a>

      <a class="navbar-item" href="/docs">
        {{ _('Documentation') }}
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          {{ _('More') }}
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            {{ _('About') }}
          </a>
          <a class="navbar-item">
            {{ _('Careers') }}
          </a>
          <a class="navbar-item">
            {{ _('Contact') }}
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            {{ _('Report an issue') }}
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          {{ _('Language') }}
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/language/en">
            {{ _('English') }}
          </a>
          <a class="navbar-item" href="/language/de">
            {{ _('German') }}
          </a>
          <a class="navbar-item" href="/language/fr">
            {{ _('French') }}
          </a>
          <a class="navbar-item" href="/language/nl">
            {{ _('Dutch') }}
          </a>
        </div>
      </div>

      <div class="navbar-item">
        <div class="buttons">
          {% if not current_user.is_authenticated %}
          <a class="button is-primary">
            <strong>{{ _('Sign up') }}</strong>
          </a>
          <a class="button is-light" href="/login">
            {{ _('Log in') }}
          </a>
          {% endif %}
          {% if current_user.is_authenticated %}
          <a class="button is-light" href="/logout">
            {{ _('Log out') }}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>
